*~

bin/config.php
.buildpath
.project
.settings/

application/config/application.ini
application/configs/application.ini
application/configs/devices.ini

library/Minify
library/OSS_SNMP
library/Smarty
library/Zend
library/Bootstrap-Zend-Framework
library/OSS-Framework.git

var/templates_c/*.php
var/log/20*
var/session/sess_*
var/tmp/*

public/.htaccess


