

body {
    padding-top: 40px;
    padding-bottom: 40px;
}

.pointer
{
    cursor: pointer;
}

.mousehand
{
    cursor: pointer;
}

.oss-overlay
{
    position: absolute;
    z-index: 2000;
    background-color:black;
    opacity: 0.4;
}


